<div class="card agreement-card">
  <div class="card-header">
    <h5 class="card-title"> プライバシーポリシー</h5>
  </div>
  <div class="card-body agreement-text">
    <br>株式会社QRfoodJAPAN（以下「弊社」）は、弊社のサービス（以下「本サービス」といいます）において本サービスの利用する全ての方（以下「会員」といいます）のプライバシーを尊重するために、会員の個人情報を以下の定義に従い、個人情報の適切な取り扱いに取り組んでまいります。
    <br>
    <br>個人情報の定義
    <br>個人情報とは、本サービスを通じて会員から取得する氏名、メールアドレス、パスワード、会員ID、その他の会員個人を特定できる情報のことを指します。収集する個人情報は、会員から本サービスにてご登録いただく情報に限られます。
    <br>
    <br>個人情報の利用目的について
    <br>弊社は、会員の個人情報を以下の目的で利用することができるものとします。
    <br>本サービスならびにその他本サービスに関連する情報の提供のため
    <br>会員の本人確認のため
    <br>本サービスの運営上必要な事項の通知（電子メールによるものを含むものとします。）
    <br>弊社及び第三者の商品等の広告または宣伝（電子メールによるものを含むものとします。）
    <br>本サービスが会員の皆様に有用だと思われるキャンペーン等のご案内を含むメールマガジンの送信
    <br>本サービス上で、個人を特定できない範囲においての統計情報の作成および利用
    <br>本サービスの新規開発に必要なデータの解析や分析
    <br>会員の皆様の行動、性別、アクセス履歴などを用いたターゲティング広告の配信
    <br>契約や法律等に基づく権利の行使や義務の履行
    <br>アフターサービス、各種問い合わせ対応のため
    <br>
    <br>個人情報の共有ならびに利用制限について
    <br>・弊社は、以下に定める場合を除いて、事前に会員本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。
    <br>・法令により認められた場合
    <br>・会員の皆様の同意があった場合
    <br>・人の生命、身体または財産の保護のために必要があり、さらに会員の同意を得るのが困難な場合
    <br>・裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合
    <br>・本サービスの提供において弊社が必要と判断した際、弁護士等、弊社に対して秘密保持義務を負う者に対して開示する場合
    <br>・合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
    <br>
    <br>個人情報の安全管理について
    <br>弊社では、個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう、個人情報の適切な監督を行います。弊社では、業務遂行に必要な範囲内で、権限を与えられた者のみが個人情報を取り扱います。個人情報の取扱いを外部に委託する場合には、機密保持契約を締結のうえ委託先を監督します。
    <br>
    <br>本サービス以外での個人情報の管理について
    <br>本サービスの提供において弊社が必要と判断した際、弁護士等、弊社に対して秘密保持義務を負う者に対して開示する場合
    <br>本サービスを通じてアクセスできる第三者のサイトおよびサービス等、本サービスからのリンク先のウェブサイトで独自に収集される個人情報の利用については、弊社は、関知いたしません。そのため、これらの企業もしくはサイトにおける、独立した規定や活動に対して、弊社は一切の義務や責任を負いません。それぞれのサイトのプライバシーポリシーを確認してください。
    <br>
    <br>クッキー等について
    <br>本サービスでは、クッキー（Cookie）と呼ばれる技術を利用しています。クッキーとは、特定のテキスト情報をお客様の利用する通信機器に一時的にデータとして保持させ、接続の度にそのデータを基にお客様を識別させる仕組みをいいます。 弊社では、クッキーの利用を前提としたサービスを提供しているため、クッキーの利用を許可しない場合、弊社の一部のサービスを受けられないことがあります。
    <br>クッキーの利用を許可するかどうかは、お客様のブラウザで設定できます。必要に応じて設定を確認してください。 弊社は、お客様に対し、より有用な情報を提供するため、クッキーを含む以下の情報（以下「クッキー等データ」）を取得しています。
    <br>(1) クッキーID（ウェブサイトによるクッキー送信の度に付される符号）
    <br>(2) お客様がコンピュータ（ブラウザ）により訪問したウェブサイトのページのURL
    <br>(3) お客様がコンピュータ（ブラウザ）により閲覧したウェブサイトのページの分類（セグメント）および分析結果等
    <br>(4) お客様がコンピュータ（ブラウザ）により訪問したウェブサイト、閲覧したウェブサイトのページその他の遷移および行動の履歴
    <br>
    <br>個人情報の開示、訂正、削除について
    <br>弊社は、個人情報保護法その他の法令等に基づき、個人情報の開示、訂正、追加、削除、利用停止、消去、第三者提供の停止、利用目的の通知の請求に対応いたします。
    <br>請求が本人確認不可能な場合や、個人情報保護法の定める要件を満たさない場合、ご希望に添えない場合があります。
    <br>なお、アクセスログなどの個人情報以外の情報については、原則として開示等はいたしません。
    <br>
    <br>プライバシーポリシーの更新について
    <br>弊社は、個人情報保護を図るため、法令等の変更や必要に応じて、本プライバシーポリシーを改訂することがあります。その際は、最新のプライバシーポリシーを本サービスに掲載いたします。本ページを都度ご確認の上、本サービスのプライバシーポリシーをご理解いただくようお願いします。
    <br>
    <br>2021年10月16日
  </div>
</div>