<div class="card agreement-card">
  <div class="card-header">
    <h5 class="card-title"> 反社会的勢力に対する基本方針</h5>
  </div>
  <div class="card-body agreement-text">
    <div style="text-align: right">
      制定日 2019年7月1日
      <br>株式会社ユニヴァ・ペイキャスト
      <br>代表取締役社長 中尾 周平
    </div>
    <br>株式会社ユニヴァ・ペイキャスト(以下「当社」)は、反社会的勢力による被害の防止のために、反社会的勢力に対する基本方針について、反社会的勢力を社会から排除していくことが社会的責任であり、企業防衛の観点からも必要不可欠の要請であることに鑑み、反社会的勢力による被害の防止のために、次の基本方針を定める。
    <br>当社は、暴力、威力と詐欺的手法を駆使して経済的利益を追求する集団又は個人である「反社会的勢力」による被害を防止するために、次の基本方針を宣言します。
    <br>1.反社会的勢力の不当要求に対応する役職員の安全を確保します。
    <br>2.反社会的勢力による被害を防止するために、警察・暴力追放推進センター・弁護士等の外部専門機関と連携関係を構築し、経営トップ以下組織全体で対応します。
    <br>3.反社会的勢力とは取引関係を含めて一切の関係を持ちません。また、反社会的勢力による不当要求は拒絶します。
    <br>4.反社会的勢力による不当要求に対しては、毅然として法的対応を行います。
    <br>5.当社は、どのようなときも裏取引を行いません。また、反社会的勢力への資金提供は絶対にしません。
    <br>前項に掲げる基本方針は、事務所内、ホームページ等の掲示により、公表することとする。
  </div>
</div>
<div class="card agreement-card">
  <div class="card-header">
    <h5 class="card-title"> 決済サービス申込時の反社会的勢力ではないことの表明・確約</h5>
  </div>
  <div class="card-body agreement-text">
    <div style="text-align: right">
      制定日 2019年7月1日
      <br>株式会社ユニヴァ・ペイキャスト
      <br>代表取締役社長 中尾 周平
    </div>
    <br>1.申込者は，株式会社ユニヴァ・ペイキャスト（以下「UPC」という。）に対し，決済サービスに関する取引（以下「本件取引」という）申込時において，申込者（申込者が法人の場合は，代表者，役員，または実質的に経営を支配する者を含む）が暴力団，暴力団員，暴力団準構成員，暴力団員でなくなったときから５年を経過しない者，暴力団関係企業，総会屋，政治活動・宗教活動・社会運動標ぼうゴロ，特殊知能暴力集団等の反社会的勢力（以下「反社会的勢力」という。）に該当しないことを表明し，かつ将来にわたっても該当しないことを確約する。
    <br>2.申込者は，UPCが前項に該当するか否かを判定するために調査を要すると判断した場合，UPCの求めに応じてその調査に協力し，これに必要と甲が判断する資料を提出しなければならない。
    <br>3.(1)UPCは，申込者が反社会的勢力に属すると判明した場合，催告その他の手続を要することなく，本件取引を即時解除することができる。
    <br>  (2)UPCが，前項の規定により，本件取引を解除した場合には，UPCはこれによる申込者の損害を賠償する責を負わない。
    <br>  (3)本件取引を解除した場合，UPCから申込者に対する損害賠償請求を妨げない。
  </div>
</div>
<div class="card agreement-card">
  <div class="card-header">
    <h5 class="card-title"> 個人情報の取扱いについて</h5>
  </div>
  <div class="card-body agreement-text">
    <div style="text-align: right">
      制定日 2015年11月1日　改訂日 2020年11月1日
      <br>株式会社ユニヴァ・ペイキャスト
      <br>代表取締役社長 中尾 周平
    </div>
    <br><h6>1. 個人情報の適切な管理について</h6>
    株式会社ユニヴァ・ペイキャスト（以下、「当社」といいます。）は、当社個人情報保護方針に基づき、関係者の皆様からご提供いただいた、氏名、住所等の個人情報を適切に管理します。
    <br><br><h6>2. 個人情報の利用目的</h6>
    (1) 加盟店（当社サービスをご利用中である、又はご利用を希望・検討されている事業者様）の個人情報の利用目的
    <br>当社決済事業における各種サービスのご利用に伴って取得した加盟店の個人情報を以下の利用目的の範囲内で取り扱います。
    <br>　・サービスのご案内
    <br>　・サービスへの申込手続きや契約の締結
    <br>　・サービスの提供及び実施のため
    <br>　・サービスに関連する各種問い合わせや資料請求への応対
    <br>　・円滑なサービス運営のための顧客管理
    <br>　・サービス向上のための統計データ分析
    <br>　・その他、上記に付随、関連する業務の遂行
    <br>(2)お客さま（クレジットカード利用者等の消費者*）の個人情報の利用目的
    <br>当社決済事業における各種サービスでは、加盟店からの当社サービス利用に伴って取得したお客さまの個人情報を以下の利用目的の範囲内で取り扱います。
    <br>　・商品を購入した加盟店からの提供に基づき、当社決済サービスの処理
    <br>　・当社決済サービスに関するお問い合わせへの対応
    <br>　・その他、上記に付随、関連する業務の遂行
    <br>　＊消費者とは、クレジット端末決済者、QR決済者、コールセンター決済者、コンビニ決済者等を含む
    <br>(3)パートナー企業様の個人情報の利用目的
    <br>　・業務提携に関する契約の締結
    <br>　・加盟店からの問合せの取次
    <br>　・その他、上記に付随、関連する業務の遂行
    <br>(4)採用応募者の個人情報の利用目的
    <br>　・採用時の選考、面接、説明会等に関するご連絡
    <br>　・その他、上記に付随、関連する業務の遂行
    <br>(5)当社従業員の個人情報の利用目的
    <br>　・雇用管理
    <br>　・福利厚生等の利用
    <br>　・その他、上記に付随、関連する業務の遂行
    <br><br><h6>3. Cookieを利用して取得する情報について</h6>
    当サイトでは、サービス向上のため、Cookieを利用しています。
    <br>当社は、サイト内での訪問履歴を参照し、最適なコンテンツを配信するためにCookieを利用します。配信には、広告配信事業者のサービスやマーケティングツールなどを活用することがあります。なお、Cookieの受け入れに関してはご利用のブラウザの設定により拒否することが可能です。この場合、一部のサービスが正常に受けられなくなる可能性があります。
    <br><br><h6>4. 個人情報の第三者提供</h6>
    当社が取得した個人情報は、ご本人の許可なく第三者に提供することはありません。ただし、法令に基づく場合、人の生命、身体または財産の保護の必要がある場合、警察、裁判所等の公的機関への協力が必要である場合は、この限りではありません。
    <br>外国にある第三者に個人情報を提供する場合には、外国にある第三者への提供であることを明確にして、ご本人の許可を取得します。
    <br><br><h6>5. 個人情報の預託</h6>
    当社では、業務の全部または一部を外部に委託する際に、委託先に個人情報を預託する場合があります。この場合、当社が定める委託先選定基準に従って確実に安全対策等を実施している委託先のみを選定するとともに、委託先に対し適切に管理・監督を行います。
    <br><br><h6>6. 個人情報の利用目的の通知、開示、訂正等</h6>
    当社が保有する個人情報について利用目的の通知、開示、訂正等（訂正、追加、削除または利用の停止もしくは第三者への提供の停止をいいます。）のお申し出があった場合は、ご本人からの請求であることを確認させていただいたうえで、すみやかに通知、開示、訂正等を行います。ただし、以下の事由により通知、開示、訂正等を行わない場合（以下、適用除外事項といいます。）があります。その場合は、通知、開示、訂正等を行わない旨を通知いたします。
    <br>（1）お客さま本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
    <br>（2）当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
    <br>（3）他の法令の規定により特別の手続が定められている場合
    <br>（4）取得の状況からみて利用目的が明らかであると認められる場合
    <br>【個人情報の保有期間について】
    <br>当社が保有する個人情報の保有期間は、個人情報の利用目的達成に必要な範囲内とし、その期間は法令等の規定及びクライアントとの契約に基づき、当社が定めた期間とします。なお、保有期間が終了した個人情報は、適切な方法により消去いたします。
    <br>【個人情の開示等の請求手続きについて】
    <br>個人情報の開示等の請求については下記「8.個人情報に関する問い合わせ窓口」にてお問い合わせください。手続きの詳細につきましては、ご請求頂いた際にご案内をお送りさせて頂きます。
    <br>なお、手続きには、本人またはその代理人であることの確認ができる書面と1回につき1,000円（税込み）の手数料が必要となりますので、予めご了承ください。
    <br><br><h6>7. 個人情報を提供されることの任意性について</h6>
    お客さまの個人情報を当社に提供されるかは、お客さまの任意によるものです。ただし、ご希望されるサービスを提供する上で必要な個人情報を提供されない場合は、適切な状態でサービスを提供できないことがありますので、予めご了承ください。
    <br><br><h6>8. 個人情報に関する問合せ窓口</h6>
    当社が保有する個人情報に関するお問い合わせ、または個人情報の開示、訂正等のお申し出については、下記の窓口までご連絡ください。
    <br>　　　<strong>担当</strong>　個人情報保護管理責任者：当社　取締役（管理部門担当）
    <br>　　　<strong>電話番号</strong>　03-6441-3400
    <br>　　　<strong>FAX</strong>　03-5545-7520
    <br>　　　<strong>メール</strong>　policy@univapay.com（個人情報に関するお問い合わせ以外は対応できかねます）
    <br>　　　<strong>住所</strong>　〒106-0032　東京都港区六本木3-16-35　イースト六本木ビル2階
    <br>【苦情相談窓口】
    <br>当社の特定個人情報等の取り扱いに関する質問又は苦情につきましては、以下にお問い合わせください。
    <br>　　　<strong>担当</strong>　株式会社ユニヴァ・ペイキャスト　個人情報保護管理責任者
    <br>　　　<strong>メール</strong>　policy@univapay.com
    <br>　　　<strong>電話番号</strong>　03-6441-3400
    <br>　　　<strong>FAX</strong>　03-5545-7520
    <br>【認定個人情報保護団体】
    <br>また、当社は、認定個人情報保護団体である一般財団法人日本情報経済社会推進協会の対象事業者です。
    <br>同協会では、対象事業者の個人情報の取扱いに関する苦情・相談を受け付けております。
    <br>　　　<strong>お問い合わせ先</strong>　一般財団法人日本情報経済社会推進協会　個人情報保護苦情相談室
    <br>　　　<strong>住所</strong>　〒106-0032 東京都港区六本木一丁目９番９号六本木ファーストビル内
    <br>　　　<strong>電話番号</strong>　03-5860-7565　0120-700-779
    <br><br><h6>9. 通話の録音について</h6>
    お客さまからのお問い合わせやお申し込み等に際して、内容を正確に把握するため通話を録音させていただく場合があります。
    <br>
    <br>以上
    <br>
    <br>
    <br>UnivaPay規約
    <br><a href="https://www.univapay.com/yakkan/">https://www.univapay.com/yakkan/</a>
    <br>PayPay利用規約・ガイドライン
    <br><a href="https://about.paypay.ne.jp/terms/?merchant-offline?&_ga=2.252537097.1666919683.1634084752-561050181.1610693421">https://about.paypay.ne.jp/terms/?merchant-offline?&_ga=2.252537097.1666919683.1634084752-561050181.1610693421</a>
  </div>
</div>