<div class="card agreement-card">
  <div class="card-header">
    <h5 class="card-title"> 「QRfood」サービス利用契約</h5>
  </div>
  <div class="card-body agreement-text">
    <br>この利用契約（以下「本利用契約」といいます。）は、株式会社QRfoodJAPAN（以下「弊社」といいます。）が提供するサービスである「QRfood」、「QRfood・多言語電子メニュー制作」その他のインターネットサービス（これらの後継サービスを含み、以下「本サービス」といいます。）のご利用の条件を本サービスのユーザー（以下「お客様」といいます。）と弊社の間で定めるものです。本サービスをユーザーとしてご利用いただくには、本利用契約をお読みの上、ご同意いただく必要がございます。本サービスをご利用になる前に、本利用契約をよくお読みください。本利用契約に同意いただけない場合は、本サービスを使用することはできませんので、予めご了承ください。 
    <br>
    <br>第１条（定義等） 
    <br>１．本利用契約においては、以下の用語は、特段の定義がある場合及び文脈上別異に解すべき場合を除き、それぞれ以下に定める意味を有するものとします。
    <br>（１）「利用権」とは、本利用契約で許諾された範囲内において、弊社がASP（アプリケーション・サービス・プロバイダ）方式により提供する本サービスを利用することができる権利をいいます。
    <br>（２）「契約ID」とは、利用権を許諾された場合にお客様に与えられる英数字などをいいます。１つの利用権毎に１つの契約IDが与えられます。
    <br>（３）「個別規程」とは、本サービスの利用に関し、ガイドライン、ポリシー、規程、契約等の名称で弊社がウェブサイト上に掲示又はユーザーに配布する文書をいいます。
    <br>（４）「個別契約」とは、本サービスに関して、本利用契約とは別に、お客様と弊社間で個別に締結される契約をいいます。
    <br>（５）「コンテンツ」とは、文章、音声、音楽、画像、動画、プログラムその他の情報をいい、本サービスを通じてアクセスすることができるコンテンツを「サービスコンテンツ」、ユーザーが本サービスを利用して送信等したコンテンツを「ユーザーコンテンツ」とそれぞれいいます。
    <br>（６）「知的財産権」とは、著作権、特許権、実用新案権、商標権、意匠権その他の知的財産権をいい、それらの権利を取得し又はそれらの権利につき登録等を出願する権利を含みます。
    <br>  
    <br>第２条（本利用契約の適用及び変更）
    <br>１．本利用契約の適用
    <br>本利用契約は、本サービスの利用に関する条件をお客様と弊社との間で定めることを目的とし、お客様と弊社の間の本サービスの利用に関わる一切の関係に適用されます。お客様は、本利用契約に取消不能な同意をした上で、本利用契約の定めに従って本サービスを利用しなければなりません。お客様は、本サービスを利用することにより本利用契約に取消不能な同意をしたものとみなされます。
    <br>２．個別規程
    <br>個別規程がある場合、お客様は本利用契約の他、個別規程の内容も遵守しなければならないものとし、個別規程は本利用契約の一部を構成するものとします。個別規程において、本利用契約の一部の適用を排除し、又は本利用契約と異なる事項を定めた場合、当該部分については、当該個別規程が優先的に適用されるものとします。
    <br>３．利用契約の変更
    <br>弊社は、以下の各号に従って本利用契約を変更することができるものとします。
    <br>（１）	弊社は、お客様の一般の利益に適合する場合又は変更を必要とする相当の事由があると認められる場合には本利用契約を変更することができるものとします。
    <br>（２）	弊社は前項による本利用契約の変更にあたり、変更後の本利用契約の効力発生日を定めた上で、本利用契約を変更する旨及び変更後の本利用契約の内容を弊社ウェブサイト（URL：http://qrfoodjapan.co.jp/）に掲示し、又はお客様に電子メールで通知します。
    <br>（３）	変更後の本利用契約の効力発生日以降にお客様が本サービスを利用した時は、お客様は、本契約の変更に同意したものとみなします。
    <br>４．使用範囲
    <br>お客様は、事業者でなければならないものとします。お客様は、お客様自身の組織に所属する役員及び従業員を対象に、ログインアカウントを登録することができます。
    <br>５．個別契約
    <br>お客様と弊社間の契約で、特別な契約の必要性が生じた場合は別途、個別契約を締結するものとします。個別契約において、本利用契約の一部の適用を排除し、又は本利用契約と異なる事項を定めた場合、当該部分については、当該個別契約が優先的に適用されるものとします。
    <br>６．第三者との契約
    <br>本サービスの機能の内、第三者が提供する製品やサービスの利用を前提とするものについては、お客様が適式に当該第三者と所要の契約を締結し、かつ、これを継続することが当該機能の利用の条件となります。
    <br>  
    <br>第３条（契約ID及びログインアカウントの発行及び登録・管理・削除等）
    <br>１．発行及び登録
    <br>本サービスを利用するには、本利用契約の内容に同意し、かつ弊社所定の方法により、契約ID及びログインアカウントの発行及び登録を申請し、発行及び登録を受けてこれを維持する必要があります。弊社は、弊社所定の基準に従って、係る申請に対し、発行及び登録の可否を判断し、これを認める場合にはその旨を申請者に通知し、これにより契約ID及びログインアカウントの発行及び登録が完了します。
    <br>２．拒否事由
    <br>第１項に基づき契約ID及びログインアカウントを申請した者が以下の各号のいずれかに該当する場合、弊社は契約ID及びログインアカウントの発行及び登録を拒否することができるものとします。この場合、弊社は理由を説明する義務を負わないものとします。
    <br>（１）申請に関連して弊社に提供された情報の全部又は一部につき虚偽、誤記、不足又は公序良俗に違反し若しくは第三者に不快感を与える内容があった場合
    <br>（２）未成年者、成年被後見人、被保佐人又は被補助人であり、法定代理人、後見人､保佐人又は補助人の同意を得ていなかった場合
    <br>（３）	過去に本利用契約に違反したことがある場合
    <br>（４）	その他弊社が不適切と判断した場合
    <br>３．情報の修正
    <br>お客様は、契約ID及びログインアカウント申請時に提供した情報に変更がある場合には常に最新の情報となるよう修正しなければならないものとします。
    <br>４．契約ID及びログインアカウントの管理
    <br>お客様は、契約ID及びログインアカウントを不正に利用されないようご自身の責任で厳重に管理しなければなりません。お客様は、契約ID及びログインアカウントが第三者に使用されたり盗まれたりしていることが判明した場合には、直ちにその旨を弊社に通知するとともに、弊社からの指示に従うものとします。弊社は、契約ID及びログインアカウントを利用して行なわれた一切の行為を、お客様ご本人の行為とみなすことができるものとします。
    <br>５．譲渡禁止
    <br>本サービスの契約ID及びログインアカウントは、お客様に一身専属的に帰属します。お客様の本サービスにおけるすべての利用権は、第三者に譲渡、貸与、売買又は相続等させることはできません。
    <br>６．停止・削除
    <br>弊社は、お客様が、以下の各号のいずれかに該当する場合は、事前に通知・催告することなく、当該お客様の本サービスの利用を一時的に停止し、又は契約ID及びログインアカウントを削除することができるものとします。その場合、利用停止及び削除等に関する質問・苦情は一切受け付けておりません。
    <br>（１）	本利用契約に違反したと弊社が判断した場合
    <br>（２）	登録した情報が真実かつ正確ではないと判明した場合
    <br>（３）	支払い停止若しくは支払い不能となり、又は破産手続き開始、民事再生手続き開始、会社更生手続き開始、特別清算開始その他の倒産手続きの開始の申立てがあった場合
    <br>（４）	反社会的勢力等（暴力団、暴力団員、暴力団準構成員、総会屋、社会運動等標榜ゴロ、特殊知能暴力集団、反社会的勢力、その他これに準ずる者をいいます。）であると弊社が判断した場合、又は資金提供等を通じて反社会的勢力等の維持、運営又は経営に協力又は関与する等反社会的勢力等と何らかの交流・関与を行っていると弊社が判断した場合
    <br>（５）	本条第2項各号のいずれかに該当する場合
    <br>（６）	その他弊社が適当でないと判断した場合
    <br>７．休眠アカウント等の削除
    <br>弊社は、予めお客様に通知・催告することなく、最終のアクセスから180日以上経過しているお客様の契約ID及びログインアカウントを削除することができるものとします。
    <br>８．お客様が死亡した場合
    <br>お客様が死亡した場合、弊社は、当該お客様の契約ID及びログインアカウントを削除できるものとします。また、お客様が死亡した場合、その時点で本サービスを退会したものとし、当該お客様が有していた本サービスに関する権利・義務は当該お客様に一身専属に帰属し、相続されないものとします。
    <br>９．削除の効果
    <br>理由の如何を問わず、契約ID及びログインアカウントが削除された時点でお客様は本サービスを退会したものとし本サービスを利用することができなくなります。お客様が誤って契約ID及びログインアカウントを削除した場合も、弊社が別途認める場合を除き、契約ID及びログインアカウントの復旧を行うことはできず、本サービスを再度利用する場合には、あらためて契約ID及びログインアカウントの発行及び登録を行うものとします。
    <br>１０．弊社の免責
    <br>弊社は、弊社に故意又は重過失がある場合を除き本条に基づき弊社が行った行為によりお客様に生じた損害について一切の責任を負いません。
    <br>  
    <br>第４条（決済）
    <br>本サービスは決済機能を提供し、又は、第三者が提供する決済サービスと連携する機能を提供することがありますが、その場合でも、お客様は自らの責任においてお客様の顧客に対する与信判断を行っていただく必要があります。
    <br>  
    <br>第５条（禁止行為その他の条件）
    <br>１．禁止行為
    <br>お客様は、本サービスの利用にあたり、以下の各号のいずれかに該当する行為又はそのおそれがある行為をしてはなりません。弊社は、お客様による情報の送信行為が以下の各号のいずれかに該当し、又はそのおそれがあると弊社が判断した場合には、本利用契約の他の条項に定める措置の他、お客様に事前に通知することなく、当該情報の全部又は一部を削除することができるものとします。その場合、削除等に関する質問・苦情は一切受け付けておりません。また、弊社は、本条に基づき弊社が行った措置に関連してお客様に損害が生じたとしても一切の責任を負いません。
    <br>（１）	法令、裁判所の判決、決定若しくは命令、又は拘束力のある行政上の措置に違反する行為
    <br>（２）	公序良俗に反する行為
    <br>（３）	弊社又は第三者の著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上若しくは契約上の権利又は利益を侵害する行為
    <br>（４）	面識のない異性との出会いや交際を目的とする行為及び性行為やわいせつな行為を目的とする行為
    <br>（５）	過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引又は助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を送信する行為
    <br>（６）	第三者に対する嫌がらせや誹謗中傷を目的とする行為
    <br>（７）	コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為
    <br>（８）	弊社又は第三者になりすます行為
    <br>（９）	意図的に虚偽の情報を流布させる行為
    <br>（１０）弊社が認めるものを除く、営業、宣伝、広告、勧誘、その他営利を目的とする行為
    <br>（１１）反社会的勢力等に対する利益供与その他の協力・関与行為
    <br>（１２）宗教活動又は宗教団体への勧誘行為
    <br>（１３）第三者の個人情報などを、不正に収集、開示又は送信する行為
    <br>（１４）弊社による本サービスの運営又は他のお客様による本サービスの利用を妨害し、これらに支障を与える行為
    <br>（１５）本サービスの契約ID又はログインアカウントを本利用契約に違反して不正な方法にて使用する行為
    <br>（１６）弊社が認めるものを除き、第三者に対して契約期間中及び契約終了後2年間、本サービスと類似するサービスを提供する行為
    <br>（１７）上記のいずれかに該当する行為を助長する行為
    <br>（１８）その他弊社が不適切と判断する行為
    <br>２．再提供の禁止等
    <br>お客様は、本サービスを第三者に対して再提供することは一切できません。また、お客様は、如何なる場合においても、利用権を譲渡、転売、付与、あるいはその使用を再許諾することはできません。したがって、お客様は如何なる状況においても、お客様以外の法人又は団体の構成員、その他個人に対して、本サービスを使用する権利を与えることはできません。
    <br>３．リバースエンジニアリング等の禁止
    <br>お客様は、本サービスをリバースエンジニアリング、逆コンパイル、逆アセンブル、修正、改変、翻訳、ソースコードを調べる行為、又は本サービスの派生ソフトウェアを作成することはできません。また、本サービスに関するドキュメントについても同様に複製することはできません。
    <br>４．禁止等されている目的での利用禁止
    <br>お客様は、本サービスを禁止又は制限されている目的において利用することはできません。
    <br>  
    <br>第６条（解除及び終了）
    <br>１．お客様による解約
    <br>お客様は、本サービスの契約期間中は、弊社に通知して本利用契約に基づく契約を解約できますが、既に発生した債務の支払いを免れることはできず、また、既に弊社に支払った料金等の返還や、弊社から購入した物品の返品を求めることはできません。
    <br>２．弊社による解除
    <br>お客様が、本利用契約に基づく契約の条項及び条件の1つにでも違反した場合、弊社はお客様への催告なく即時に本利用契約に基づく契約を解除することができます。
    <br>３．契約終了時にお客様の義務
    <br>本利用契約に基づく契約が解約又は解除その他の理由により終了した場合、お客様は、本サービス、本サービスの構成部分、ドキュメント、ならびにその一切の複製物を破棄、サーバー、その他のコンピューターの記憶媒体上から完全に消去し使用を継続してはなりません。
    <br>４．弊社の免責
    <br>本利用契約に基づく契約の解約又は解除その他の理由による終了に伴って本サービスの全部又は一部が利用不可能となることによって、お客様ならびに第三者が被った損害等について、弊社は一切責任を負いません。ただし、弊社に故意又は重過失がある場合はこの限りではありません。
    <br>  
    <br>第７条（契約期間）
    <br>１．契約期間
    <br>本サービスの契約期間は、利用開始日より1年間とします。
    <br>２．自動更新
    <br>前項の契約期間満了の2ヶ月前までに、お客様と弊社の一方又は双方より書面又は弊社が指定する方法による変更又は解約の申し入れのない場合、本契約は更に1カ年自動的に更新されるものとし、以後も同様とします。
    <br>  
    <br>第８条（セキュリティ）
    <br>１．セキュリティの確保
    <br>本サービスは各種のセキュリティ手段を備えておりますが、セキュリティを確保するためには、実際に使用する担当者が係る手段の内容を理解し、必要に応じて所要の操作を行っていただく必要があります。
    <br>２．セキュリティの限界
    <br>本サービスが採用するセキュリティ機能は、一般的に有用と判断されている技術を適用したものです。そのため技術が進歩したり、高度な技能を有するハッカーに攻撃されたりした場合には、セキュリティを保持できない場合があります。
    <br>  
    <br>第９条（本サービスの停止・変更・終了等）
    <br>１．本サービスの停止
    <br>弊社は、以下のいずれかに該当する場合には、お客様に事前に通知することなく、本サービスの全部又は一部を停止することができるものとします。
    <br>（１）	本サービスに関する機器等の点検又は保守作業を行う場合
    <br>（２）	本サービスに関する機器、通信回線等が事故等により停止した場合
    <br>（３）	火災、停電、天災地変などの不可抗力により本サービスの提供が不可能ないし困難な場合その他弊社が必要と判断する場合
    <br>２．本サービスの変更
    <br>弊社は、弊社が必要と判断する場合、予めお客様に通知することなく、いつでも、本サービスの全部又は一部の内容を変更することができるものとします。
    <br>３．本サービスの終了
    <br>弊社は、弊社の都合により、本サービスの提供を終了することができます。この場合、弊社はお客様に事前に通知するものとします。
    <br>４．お客様の限定
    <br>弊社は、本サービスの全部又は一部を、弊社所定の条件を満たしたお客様に限定して提供することができるものとします。
    <br>５．弊社の免責
    <br>弊社は、弊社に故意又は重過失がある場合を除き、本条に基づき弊社が行った措置に基づきお客様に生じた損害について一切の責任を負いません。
    <br>  
    <br>第１０条（保証の制限）
    <br>１．無保証
    <br>弊社は、別途弊社が明示している場合を除き、本サービスにつき如何なる保証も行うものでもなく、本サービスに事実上又は法律上の瑕疵（契約不適合）がないことを保証するものではありません。
    <br>２．保証の制限
    <br>（１）	弊社は、本サービスに含まれた機能やパフォーマンス・速度、操作性、対応可能データ量等がお客様の要求を満足させるものであることを保証するものではありません。本サービスは、お客様の準備された環境において、正常に作動することを保証するものではありません。また、同一環境において永続的に使用できる事を保証するものではありません。
    <br>（２）	本サービスに瑕疵（構造上の問題等、いわゆるバグ）が存していた場合、これが修正されることを保証するものではありません。本契約は、お客様が本サービスで扱う情報（コンテンツ）の内容の適切性・正確性・有用性等を保証するものではありません。
    <br>（３）	弊社は、本サービスの機能及び本サービスに付随するサービス等について、お客様の事前の同意なく変更・中止する場合があります。本契約締結時における本サービスと同等の使用環境を永続的に保証するものではありません。
    <br>（４）弊社による口頭やEメール等の文書によって提供される助言等の情報は、如何なる場合においても本利用契約の保証の制限の範囲を拡大するものでありません。
    <br>  
    <br>第１１条（責任の制限）
    <br>１．お客様の責任及び弊社の免責
    <br>お客様は、本サービスの利用及び本サービスに付随するサービスの利用に関連して発生したデータ滅失、サーバーダウン、業務停滞、第三者からのクレーム等を含む一切の損害や危険は、その発生の直接性や間接性に問わず、弊社の故意又は重過失がある場合を除き、お客様のみが負うことをここに確認し、同意するものとします。お客様が本契約に基づき許諾された利用権を行使することにより生じたお客様の損害、又は第三者からのお客様に対する請求に対して、弊社は一切の責任を負いません。
    <br>２．弊社の責任の制限
    <br>（１）	お客様及びその他の第三者に対して、一切の直接的、間接的、特殊的、付随的、結果的な損害・損失等、あらゆる商業的損害、損失について、弊社及び本サービスの供給業者、再販売業者は一切責任を負いません。
    <br>（２）	弊社は、本サービスの瑕疵によって発生したお客様の損害、損失等においても一切の責任を負いません。また、第三者からの如何なるクレームに対しても一切の責任を負いません。
    <br>（３）	弊社は、本サービスを使用してお客様が管理・運営する経営戦略や販売戦略等について、一切の責任を負いません。
    <br>（４）	本サービスはお客様のデータの永続的保管を目的とするものではありません。お客様は随時所要のデータのバックアップを作成していただく必要があります。弊社が保管中のお客様のデータが、滅失・毀損したとしても、弊社は一切の責任を負いません。
    <br>（５）	本サービスは本サービス開発時点でのＯＳ・ミドルウェア、関連ハードウェアの仕様・機能を前提に開発されています。これらの仕様・機能が変更され本サービスの正常な稼働に支障を来した場合、弊社は可能な限り迅速にその修正に努めますが、その完了時期は保証されず、その間の利用料金は免除減額されず、初期費用は返還されません。
    <br>（６）	本サービスで利用する各種のハードウェアが故障した場合には、お客様の業務に支障を来す場合があります。お客様におかれましては、予備機の準備等、代替手段のご準備を強くお勧めいたします。故障等によりお客様に生じた業務上の損失について、弊社は補償することができません。
    <br>（７）	上記各号につき、弊社に故意又は重過失がある場合はこの限りではありません。
    <br>３．弊社の責任の範囲
    <br>法令の適用その他の理由により、本項その他弊社の損害賠償責任を免責する規定に関わらず弊社がお客様に対して損害賠償責任を負う場合においても、弊社の責任は、弊社の過失（重過失を除きます。）による債務不履行又は不法行為によりお客様に生じた損害のうち現実に発生した直接かつ通常の損害に限り、かつ、お客様が直近1ヶ月の期間に弊社に対して支払った本サービスの利用料の合計額を上限とします。
    <br>  
    <br>第１２条（利用料の支払い）
    <br>お客様は、弊社が別途指定するところに従って本サービス及び本サービスに付随するサービスの利用料を支払うものとします。
    <br>  
    <br>第１３条（秘密保持及び個人情報）
    <br>１．ログインアカウント等に関する情報
    <br>お客様は、故意、過失を問わず如何なる場合においても、本サービスの利用上知り得た本サービスの契約ID及びログインアカウントに関連する情報を第三者に対して開示・漏洩してはなりません。
    <br>２．本サービス及び弊社に関する情報
    <br>お客様は、本サービス及び本サービスに関する複製物、ドキュメント等の関連資料を秘密扱いとし、これらを一切開示してはならないものとします。また、お客様は本契約の有効期間中、及びその終了後も本契約に基づき知得した弊社の業務上の一切の秘密を、第三者に漏洩してはならないものとします。ただし、すでに公知となっている情報についてはその限りではありません。
    <br>３．データの利用
    <br>本システムはお客様が利用上保有・蓄積・送信される各種のデータを、統計情報化して保持する機能を有しております。係る統計化によって、データは完全に匿名化され、データの出自は特定不能となります。弊社は係る統計化後のデータについて、システムの利用促進や管理のために、利用する場合があります。
    <br>４．個人情報
    <br>お客様は、法令及び自らのプライバシー・ポリシー（名称の如何を問いません。）に従って個人情報を適切に取り扱うものとします。弊社は、法令及びプライバシー・ポリシーに従って、お客様の個人情報を適切に取り扱います。
    <br>  
    <br>第１４条（知的財産権等）
    <br>１．知的財産権等の帰属
    <br>本サービス（プログラム、ユーザーインターフェースを含む一切）及び本サービスに関する文書、設計図、ドキュメント等、デジタル・アナログに関わらず、所有権、著作権をはじめとするその他一切の知的財産権その他の権利は、弊社に帰属しており（ただし、本サービスに組み込まれたプログラム等の外部の著作物に関しては、その権利者に帰属します）、本利用契約に基づく本サービスの利用の許諾は、本サービスに関する弊社（又は弊社に使用許諾している者。）の知的財産権その他の権利の使用許諾を意味するものではありません。本サービスでは、本サービスの利用を許諾されるものであり、本サービスを構成する著作物自体が販売されるものではありません。本サービスには、弊社が著作権を有しない第三者のプログラムが含まれており、これらのプログラムには本利用契約の効力は及びません。
    <br>２．お客様による利用
    <br>弊社は、弊社が提供するサービスコンテンツについて、お客様に対し、本サービスの利用を唯一の目的とする、譲渡及び再許諾不可能な非独占的利用権を付与します。お客様は、お客様コンテンツを、本サービスが予定している態様を超えて利用（複製、複写、改変、第三者への再許諾その他のあらゆる利用を含みます。）することはできません。
    <br>３．知的財産権の保護
    <br>本サービスに関する知的財産権は、著作権法及びその他の知的財産権に関する法律、条約によって保護されています。お客様は、これらを他の著作物等と同様に扱わなければなりません。また、本サービス及びその関連する文書等からリンクされた各コンテンツについての知的財産権は、各情報提供会社、団体等の財産であり、著作権法及びその他の知的財産権に関する法律、条約によって保護されています。
    <br>４．お客様の情報管理
    <br>お客様は、本サービスによって管理される情報に係る著作権は、お客様ご自身が責任を持って管理するものとすることをここに同意し、弊社は弊社に故意又は重過失がある場合を除き、お客様が管理する情報に関して一切の責任を負わないものとします。
    <br>５．権利の留保等
    <br>本利用契約は、お客様に対し、弊社の商標又はトレードマーク、アイデンティティ等の使用、その他関連した権利を許諾するものではありません。本利用契約で明記されていない権利については、弊社に留保されます。
    <br>６．バックアップ等
    <br>弊社はサービスコンテンツ及びお客様コンテンツその他お客様に係る一切のデータのバックアップを行う義務を負わないものとします。お客様は、お客様コンテンツのバックアップが必要な場合には、自己の費用と責任でこれを行うものとします。また、契約期間の満了又は解約、解除等その原因を問わず、本サービスの利用に関する契約が終了した場合には、お客様コンテンツ及び弊社はお客様に係る一切のデータを削除します。必要に応じて、契約が終了する前に、各種のデータをダウンロードするなどして、データを取得して下さい。
    <br>７．内容の確認
    <br>弊社は、法令又は本利用契約の遵守状況などを確認する必要がある場合、お客様コンテンツの内容を確認することができるものとします。
    <br>８．広告の掲載
    <br>弊社は、本サービスに弊社又は第三者の広告を掲載することができるものとします。
    <br>  
    <br>第１５条（本サービスの利用及びお客様の責任）
    <br>１．本サービスの利用
    <br>お客様は、本サービスに関し有効に契約ID及びログインアカウントが発行及び登録されている契約の有効期間内に限り、本利用契約及び弊社の定めるところにしたがい、本サービスを利用することができます。２．必要な機器の準備等本サービスの提供を受けるために必要な、コンピューター、スマートフォンその他の機器、ソフトウェア、通信回線その他の通信環境等は、お客様の費用と責任において準備し維持するものとします。弊社は、本サービスがあらゆる機器等に適合することを保証するものではありません。
    <br>３．自己の責任による利用
    <br>お客様は、自らの責任において本サービスを利用するものとし、本サービスにおいて行った一切の行為及びその結果について一切の責任を負うものとします。
    <br>４．第三者との紛争
    <br>本サービスに関連してお客様と第三者との間において生じた紛争等については、お客様の責任において解決するものとし、弊社は弊社に故意又は重過失がある場合を除き、係る事項について一切責任を負いません。５．損害賠償責任お客様は、本サービスを利用したことに関連して、弊社が直接的若しくは間接的に何らかの損害（弁護士費用の負担を含みます。）を被った場合（弊社がお客様の利用を原因とする請求等を第三者より受けた場合を含みます。）、弊社の請求に従って直ちにこれを補償するものとします。
    <br>  
    <br>第１６条（サポート）
    <br>本サービスに関する弊社によるサポートは弊社の営業時間内に限られます。
    <br>  
    <br>第１７条（再委託）
    <br>弊社は、本サービスに関する自己の業務の全部又は一部を、自らの判断により第三者に再委託することができるものとし、お客様は、予めこれを承諾するものとします。
    <br>  
    <br>第１８条（代理店及び販売等）
    <br>１．代理店及び販売店等
    <br>本サービスが代理店・販売店等によって販売されている場合でも、代理店・販売店等は、弊社とお客様との契約締結を媒介しているか、弊社に代わって利用権を販売しているのみです。そのためお客様が代理店・販売店を経由して本サービスの申込をした場合でも、本サービスの利用に係る権利義務関係（お客様への保証及び補償を含む）は弊社とお客様との間のみで成立します。
    <br>２．本利用契約に関する代理店及び販売店等の無権限
    <br>本サービスが代理店・販売店などによって販売されている場合でも、弊社は本利用契約の修正に係る権限を与えておりません。代理店・販売店等が本利用契約と矛盾抵触する約束をしたとしても、一切無効となります。
    <br>  
    <br>第１９条（一般条項）
    <br>１．通知
    <br>（１）	本サービスに関する弊社からお客様への通知・連絡は、弊社が運営するウェブサイト内の適宜の場所への掲示その他、弊社が適当と判断する方法により行なうものとします。弊社からの通知・連絡が不着であったり遅延したりといったことによって生じる損害について、弊社は、弊社に故意又は重過失がある場合を除き、一切の責任を負いません。
    <br>（２）	本サービスに関するお客様から弊社への通知・連絡は、弊社が運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームの送信又は弊社が指定する方法により行うものとします。お客様から通知・連絡があった場合、弊社は、弊社所定の方法により、お客様の本人確認を行うことができるものとします。また、お客様からの通知・連絡に対する回答方法については、その都度弊社が最適と考える方法により回答することができるものとし、その回答方法をお客様が指定することはできないものとします。
    <br>２．譲渡禁止
    <br>お客様は、弊社の書面による事前の承諾なく、本利用契約に基づく契約上の地位又は本利用契約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、貸与、その他の処分をすることはできません。
    <br>３．事業譲渡
    <br>弊社が本サービスに係る事業を第三者に譲渡する場合（事業譲渡、会社分割その他本サービスが移転する一切の場合を含む。）には、当該事業の譲渡に伴い、お客様の本利用契約に基づく契約上の地位、本利用契約に基づく権利・義務及びアカウント登録に伴い登録された情報その他の情報を、弊社は当該事業の譲受人に譲渡することができるものとし、お客様は、係る譲渡につき予め承諾するものとします。
    <br>４．分離可能性
    <br>本利用契約のいずれかの条項又はその一部が、法令等により無効と判断された場合であっても、本利用契約の残りの規定及び一部が無効と判断された規定の残りの部分は、継続して有効に存続し、当該無効とされた条項又はその一部を、有効とするために必要な範囲で修正し、最大限、当該無効とされた条項又はその一部の趣旨及び法律的経済的に同等の効果が確保されるよう解釈されるものとします。
    <br>５．定めのない事項等
    <br>本利用契約に定めのない事項又は本利用契約の解釈に疑義が生じた場合には、お客様は、弊社の合理的に定めるところに従うものとします。これにより解決しない場合には、弊社及びお客様は、信義誠実の原則に従って協議の上速やかに解決を図るものとします。
    <br>６．言語、準拠法及び裁判管轄
    <br>本利用契約は、日本語を正文とし、準拠法は日本法とします。本利用契約又は本サービスに起因し又は関連する一切の紛争については、訴額に応じ、弊社の本店所在地を管轄する地方裁判所又は簡易裁判所を第一審の専属的合意管轄裁判所とします。
    <br>  
    <br>2021年10月16日
    <br>〒150-0042 東京都渋谷区宇田川町２－１
    <br>株式会社QRfoodJAPAN
  </div>
</div>