<p><%= @resource.email %>さん</p>
<p>「QRFoodJapan」をご利用いただき、ありがとうございます。</p>

<p>パスワード再設定のご案内です。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>上記のリンクからパスワードの再設定をお願いします。</p>

<p>－－－－－－－－－－－－－－－－－－－－－－－－</p>
<p>※このメールに心当たりがない方は、このメールを削除してください。</p>
<p>－－－－－－－－－－－－－－－－－－－－－－－－</p>

